
            h1 {
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            }
            img{
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
            body{
                margin: 1%;
                background-color: rgb(161, 158, 106);
            }
            li.py{
                font-size: 30px;
            }
            li.sq{
                font-size: 28px;
            }
            li.en{
                font-size: 26px;
            }
            li.co{
                font-size: 24px;
            }
            li.sd{
                font-size: 22px;
            }    
            .botao{
                color: #fff;
                background-color: rgb(79, 158, 33);
                border-radius: 5px;
                padding: 15px 30xp;
                font-size: 30px;
                text-decoration: none;

            }
            .apresentacao{
                border: 2px solid red;
                display: inline-block;
                
            }
            .apresentacao-nome{
                border: 2px solid blue;
                padding-left: 40%;
            }
            .apresentacao-info{
                border: 2px solid green;
                text-align: inherit;
                width: 50%;
                overflow: auto;

            }
        
            h3{
                font-size: 28px;
                line-height: 20px;
                font-weight: 600;
                margin-bottom: 1rem;
            } 
            #foto   {
                
            }

           